body {
    margin: 0px;
}

 /* Game */

.game-bc{
    overflow-x: scroll;
}

.game-bc__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 0px 200px;
}

.game-bc__logo,
.game-bc__logo img {
    width: 240px;
    height: 115px;
}

.bulls_and_cows_table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-bc__step {
    text-align: justify;
    margin: 0px;
    font-family: 'Londrina Solid', cursive;
    font-size: 35px;
    font-weight: 400;
    padding: 10px 20px 0px 20px;
    color: #a85c08;
    text-transform: uppercase;
}

.game-bc__big-nubers {
    font-size: 50px;
}

.game-bc__text {
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 400px;
    height: 35px;
    font-family: 'Suez One', serif;
    color: #a85c08;
    font-size: 20px;
    font-weight: 400;
}

.game-bc__text p{
    margin: 0px;
}

.game-bc__text p:nth-child(2){
    margin-left: 32px;
}

.game-bc__text p:nth-child(3){
    margin-left: 11px;
}

.lines {
    display: flex;
    background-image: url(../img/modals/turn-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 60px;
}

.turn {
    margin-top: 13px;
    margin-left: 15px;
    width: 55px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Suez One', serif;
    color: #a85c08;
    font-size: 23px;
    font-weight: 400;
}

.number_all {
    margin-top: 15px;
    margin-left: 8px;
    width: 160px;
    height: 20px;
}

.number_all input {
    width: 100%;
    height: 100%;
    font-family: 'Suez One', serif;
    color: #a85c08;
    font-size: 23px;
    border: 0px;
    background-color: inherit;
    text-align: center;
}

.number_all input:focus {
    outline: 0;
    outline-offset: 0;
}

.bulls_all,
.cows_all {
    margin-top: 14px;
    margin-left: 30px;
    width: 35px;
    height: 25px;
    font-family: 'Suez One', serif;
    color: #a85c08;
    font-size: 23px;
    background-color: #f6f6c5;
    text-align: center;
}

.cows_all {
    margin-left: 22px;
}

.accept {
    margin-top: 12px;
    margin-left: 14px;
    width: 100px;
    height: 30px;
}

.accept_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.failed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Suez One', serif;    
    font-size: 23px;
    color: white;
    background-color: inherit;
    text-shadow: #a85c08 1px 1px 0, #a85c08 -1px -1px 0, 
    #a85c08 -1px 1px 0, #a85c08 1px -1px 0;
}

/* Game start */

.start {
    transform: scale(0);
    visibility: hidden;
}

.bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/modals/bg-start.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.start__menu {
    margin: 150px auto 0 auto;
    width: 540px;
    height: 430px;
    background-image: url(../img/modals/bg-menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bc-logo{
    display: block;
    margin: 0px auto;
    padding-top: 15px;
    width: 400px;
    height: 195px;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 250px;
    height: 80px;
    cursor: pointer;
}

.btn img,
.bc-logo img {
    width: 100%;
    height: 100%;
}

/* Rules */

.rules__menu {
    margin: 150px auto 0 auto;
    width: 750px;
    height: 615px;
    background-image: url(../img/modals/rules_mebu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rules__text {
    width: 550px;
    height: 265px;
    margin: 0px auto;
}

.rules__text p {
    text-align: justify;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    padding: 10px 20px 0px 20px;
    color: white;
}

.rules__text p:last-child {
    text-align: center;
    font-weight: 700;
    font-size: 33px;
}

.rules {
    transform: scale(0);
    visibility: hidden;
}

/* Win */

.win {
    transform: scale(0);
    visibility: hidden;
}

.win__menu {
    margin: 150px auto 0 auto;
    width: 650px;
    height: 460px;
    background-image: url(../img/modals/win_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.win__logo {
    padding-top: 50px;
    height: 140px;
    width: 500px;
}

.win__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 470px;
    height: 60px;
    margin: 32px auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: white;
}

.number {
    padding-left: 20px;
    font-weight: 700;
    font-size: 45px;
}

.win__btn {
    margin-top: 30px;
    width: 375px;
    height: 100px;
}

/* Lose */

.lose__menu {
    margin: 150px auto 0 auto;
    width: 650px;
    height: 445px;
    background-image: url(../img/modals/win_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lose__logo {
    padding-top: 50px;
    height: 140px;
    width: 500px;
}

.lose__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 470px;
    height: 60px;
    margin: 25px auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: white;
}

.lose__btn {
    margin-top: 30px;
    width: 375px;
    height: 100px;
}

.lose {
    transform: scale(0);
    visibility: hidden;
}

/* Error */

.error {
    transform: scale(0);
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.error__menu {
    margin: 150px auto 0 auto;
    width: 815px;
    height: 450px;
    background-image: url(../img/modals/continue_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.error__text {
    margin: 0px auto;
    width: 625px;
    height: 220px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    padding: 85px 20px 0px 20px;
    color: white;
}

.error__text p {
    margin: 0px auto;
    text-align: center;
    width: 450px;
}

.error__text-er {
    font-size: 30px;
    font-weight: 700;
}

.error__text-ex {
    padding-top: 50px;
    font-size: 28px;
    font-weight: 700;
}

.error__btn {
    margin-top: 32px;
}

.is-show{
    transform: scale(1);
    visibility: visible;
}

.play-main img{
    height: 70%;
}
